[Unit]
Description=zhihu favlist hub service
After=network.target

[Service]
ExecStart=/usr/bin/python3.6 /path/to/client.py

[Install]
WantedBy=multi-user.target
